<table class="table table-responsive">
    <tbody>
        <tr>
            <th scope="row">Languague</th>
            <td>en (99%)</td>
        </tr>
        <tr>
            <th scope="row">Sentiment</th>
            <td>neutral</td>
        </tr>
        <tr>
            <th scope="row">Offensiveness</th>
            <td>0.0</td>
        </tr>
        <tr>
            <th scope="row">Verbs</th>
            <td>10</td>
        </tr>
        <tr>
            <th scope="row">Adjectives</th>
            <td>5</td>
        </tr>
        <tr>
            <th scope="row">Nouns</th>
            <td>3</td>
        </tr>
    </tbody>
</table>
