<div class="row">
    <!--<div class="col-sm-5">-->
    <!--<div class="checkbox">-->
    <!--<label><input type="checkbox">Twitter</label>-->
    <!--</div>-->
    <!--<div class="checkbox">-->
    <!--<label><input type="checkbox">Google Translate</label>-->
    <!--</div>-->
    <!--<div class="checkbox">-->
    <!--<label><input type="checkbox">HateBase</label>-->
    <!--</div>-->
    <!--</div>-->
    <div class="checkbox">
        <label><input type="checkbox">Twitter</label>
    </div>
    <div class="input-group">
        <input type="password" placeholder="Enter API key" class="form-control">
        <span class="input-group-btn">
            <button class="btn btn-success" type="button">Save</button>
        </span>
    </div>

    <div class="checkbox">
        <label><input type="checkbox">Google Translate</label>
    </div>
    <div class="input-group">
        <input type="password" placeholder="Enter API key" class="form-control">
        <span class="input-group-btn">
            <button class="btn btn-success" type="button">Save</button>
        </span>
    </div>

    <div class="checkbox">
        <label><input type="checkbox">HateBase</label>
    </div>
    <div class="input-group">
        <input type="password" placeholder="Enter API key" class="form-control">
        <span class="input-group-btn">
            <button class="btn btn-success" type="button">Save</button>
        </span>
    </div>
</div>

